@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');

/* Set consistent font for entire app */
* {
    font-family: 'Readex Pro', sans-serif;
    box-sizing: border-box;
}

/* Light Theme Settings */
html[data-theme="light"] body,
html[data-theme="light"] * {
    color: #111 !important;
    background-color: #ffffff !important;
}

/* Dark Theme Settings */
html[data-theme="dark"] body,
html[data-theme="dark"] * {
    color: #ffffff !important;
    background-color: #0e1117 !important;
}

/* Links */
a {
    text-decoration: none;
    font-weight: 500;
}

html[data-theme="light"] a {
    color: #1a0dab !important; /* Standard blue for light mode */
}

html[data-theme="dark"] a {
    color: #1e90ff !important; /* Bright blue for dark mode */
}

a:hover {
    color: #d33682 !important;
}

/* Divider */
hr {
    margin-top: 0px;
    margin-bottom: 5%;
    border: 0.5px solid rgba(255, 255, 255, 0.1);
}

/* Styled unordered list */
ul {
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 0.5rem;
    padding: 1em;
    list-style-type: none;
}

/* Hide Streamlit's system UI */
#MainMenu,
footer,
header {
    visibility: hidden;
}

/* Target only the profile image */
.profile-pic {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%; /* for circular image */
    border: 2px solid #ccc;
}
